<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" href="/css/styles.css">-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<div class="header" th:fragment="bodyHeader">
    <a href="/" class="ahyrob-link"><h3 class="text-muted">ahyrob</h3></a>
    <div class="navigation">
        <a href="/shop/shop">Shop</a>
        <a href="/customercenter/customercenter">Customer Center</a>
        <a href="/cart/cart">Cart</a>
        <a href="/login/login">Login</a>
    </div>
</div>

</body>
</html>
