/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; /* Adjust the height as needed */
    width: 100%;  /* Use 100% to make it full-width, adjust as needed */
}

.navigation {
    display: flex;
    margin-left: auto;
}

.navigation a {
    text-decoration: none;
    margin-left: 35px;
    font-size: 15px; /* Set font size for navigation links */
}

.header .ahyrob-link {
    margin-right: 30px;  /* Move it to the right */
    font-size: 1.5em;    /* Set font size for "ahyrob" */
    font-weight: bold;   /* Set font weight to bold if desired */
    color: black;         /* Change text color if needed */
    text-decoration: none;
}
