<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>id-finder Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="id-finder">
        <h2>아이디 찾기</h2>
        <form action="/login/id-finder" method="post">
            <div class="form-input-group">
                <h3>이름</h3>
                <input type="text" name="username" class="form-input" placeholder="이름을 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>이메일로 찾기</h3>
                <input type="password" name="password" class="form-input" placeholder="이메일을 입력하세요" required>
            </div>
        </form>
    <button onclick="location.href='/login/signup2'" class="form-button">다음</button>
    <button onclick="location.href='/login/login'" class="form-button2">취소</button>



    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>