<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="login-form">
        <h2>로그인</h2>
        <form action="/login/memberlogin" method="post">
            <div class="form-input-group">
                <h3>아이디</h3>
                <input type="text" name="username" class="form-input" placeholder="아이디를 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>비밀번호</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div>
        </form>

    <a href="/login/id-finder" class="form-link">아이디 찾기</a>
    <a href="/login/password-finder" class="form-link">비밀번호 찾기</a>
    <a href="/login/order-inquiry-non-member1" class="form-link">비회원 주문조회</a>
    <button onclick="location.href='/'" class="form-button">로그인</button>
    <button onclick="location.href='/login/signup'" class="form-button2">회원가입</button>
    <button onclick="location.href='/login/kakao-signup'" class="form-button2">카카오로 시작하기</button>


    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>