<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비회원 주문 조회하기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="order-inquiry-non-member1">
        <h2>비회원 주문 조회</h2>
        <form action="/login/order-inquiry-non-member1" method="post">
            <div class="form-input-group">
                <h3>주문자명</h3>
                <input type="text" name="username" class="form-input" placeholder="아이디를 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>주문번호</h3>
                <input type="password" name="password" class="form-input" placeholder="주문번호를 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>비밀번호</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div>
        </form>

        <button onclick="location.href='/login/order-inquiry-non-member2'" class="form-button">조회</button>



    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>