<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="login-form">
        <h2>정보 입력</h2>
        <form action="/login/signup2" method="post">
            <div class="form-input-group">
                <h3>아이디</h3>
                <input type="text" name="username" class="form-input" placeholder="아이디를 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>이메일</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div> <div class="form-input-group">
                <h3>이름</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div> <div class="form-input-group">
                <h3>비밀번호</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div> <div class="form-input-group">
                <h3>비밀번호 확인</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div> <div class="form-input-group">
                <h3>휴대폰 번호</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div>
        </form>

        <button onclick="location.href='/'" class="form-button">가입하기</button>



    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>