<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">


</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="login-form">
        <h2>약관동의</h2>
        <!--<form action="/login/signup" method="post">
            <div class="form-input-group">
                <h3>아이디</h3>
                <input type="text" name="username" class="form-input" placeholder="아이디를 입력하세요" required>
            </div>
            <div class="form-input-group">
                <h3>비밀번호</h3>
                <input type="password" name="password" class="form-input" placeholder="비밀번호를 입력하세요" required>
            </div>
        </form>-->

        <button onclick="location.href='/login/signup2'" class="form-button">다음</button>
        <button onclick="location.href='/login/login'" class="form-button2">취소</button>



    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>